<h1>Tag list</h1>

<ul>
  <% @tags.each do |tag| %>
  <li>
    <%= link_to tag.name, tag_path(tag) %>
    <% if logged_in? %>
      <%= link_to 'delete', tag_path(tag), method: :delete, data: {confirm: 'Really delete the tag?'} %>
    <% end %>
  </li>
  <% end %>
</ul>
